* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--Lime: hsl(61, 70%, 52%);
	--Red: hsl(4, 69%, 50%);
	--White: hsl(0, 0%, 100%);
	--Slate-100: hsl(202, 86%, 94%);
	--Slate-300: hsl(203, 41%, 72%);
	--Slate-500: hsl(200, 26%, 54%);
	--Slate-700: hsl(200, 24%, 40%);
	--Slate-900: hsl(202, 55%, 16%);
}
@font-face {
	font-family: Plus Jakarta Sans;
	src: url("../fonts/PlusJakartaSans-VariableFont_wght.ttf");
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: var(--Slate-100);
}
.main-container {
	font-family: Plus Jakarta Sans;
	font-size: 16px;
	margin: auto 0;
	display: flex;
	border-radius: 15px;
	background-color: var(--White);
	box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.15);
}
.left-column {
	flex: 1;
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: var(--White);
	border-radius: 15px 0 0 15px;
}
.heading-container {
	display: flex;
	justify-content: space-between;
}
.heading-text {
	font-size: 20px;
	font-weight: bold;
	color: var(--Slate-900);
	margin: 0 0 10px 0;
}
.clear-text {
	color: var(--Slate-700);
	text-decoration: underline;
	cursor: pointer;
}
.clear-text:hover {
	color: var(--Slate-900);
	text-decoration: none;
}
.input-label-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.input-label-text {
	font-weight: 500;
	color: var(--Slate-700);
}
.mortgage-input-row {
	display: flex;
	border: 1px solid var(--Slate-300);
	border-radius: 5px;
}
.mortgage-input-row:hover {
	border: 1px solid var(--Slate-700);
}
.input-highlight {
	color: hsl(200, 24%, 40%);
	font-weight: bold;
	padding: 10px;
	background-color: var(--Slate-100);
}
.highlight-left {
	border-radius: 5px 0 0 5px;
}
.input-field {
	padding: 10px;
	border: none;
	cursor: pointer;
}
.highlight-right {
	border-radius: 0 5px 5px 0;
}
.input-field-right {
	width: 100%;
	border-radius: 0 5px 5px 0;
}
.input-field-left {
	width: 100%;
	border-radius: 5px 0 0 5px;
}
.input-field:focus {
	outline: none;
}
.alert-text {
	color: var(--Red);
	font-size: 14px;
	display: none;
}
.input-columns {
	display: flex;
	gap: 15px;
}
.radio-column {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.radio-row {
	display: flex;
	gap: 10px;
	padding: 10px;
	border: 1px solid var(--Slate-300);
	border-radius: 5px;
	cursor: pointer;
}
.radio-row:hover {
	border: 1px solid var(--Lime);
}
/* .radio.label {
} */

.calculate-button {
	color: var(--Slate-900);
	font-weight: bold;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 15px 40px;
	margin: 10px 0 0 0;
	width: fit-content;
	background-color: var(--Lime);
	border-radius: 30px;
	border: none;
	cursor: pointer;
	transition: 0.4s;
}
.calculate-button:hover {
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
.calculate-button > img {
	width: 16px;
}
.right-column {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 30px;
	background-color: var(--Slate-900);
	border-radius: 0 15px 15px 70px;
}
.results-static-column {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	text-align: center;
	margin: auto 0;
}
.illustration-image {
	width: 40%;
}
.results-heading {
	color: var(--White);
	font-size: 20px;
	font-weight: bold;
}
.static-description {
	font-size: 14px;
	color: var(--Slate-300);
	width: fit-content;
}
.results-dynamic-column {
	display: flex;
	flex-direction: column;
	gap: 20px;
	/* margin: auto 0; */
	display: none;
}
.dynamic-description {
	font-size: 14px;
	color: var(--Slate-300);
	width: fit-content;
}
.output-row {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	background-color: hsl(201, 57%, 12%);
	border-radius: 5px;
	box-shadow: 0px -3px 0px var(--Lime);
	max-width: 100%;
}
.results-description {
	font-size: 14px;
	color: var(--Slate-300);
}
.monthly-row {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.monthly-repayments {
	font-size: 42px;
	font-weight: bold;
	color: var(--Lime);
	padding: 0 0 20px 0;
	border-bottom: 1px solid var(--Slate-700);
}
.total-row {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.total-repayments {
	font-size: 20px;
	color: var(--White);
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
@media (max-width: 475px) {
	.main-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		border-radius: 0;
		box-shadow: none;
	}
	.left-column {
		width: 100%;
		flex: 1;
		padding: 20px;
		gap: 30px;
	}
	.heading-container {
		flex-direction: column;
	}
	.heading-text {
	}
	.clear-text {
	}
	.clear-text:hover {
	}
	.input-label-container {
		flex-direction: column;
		gap: 5px;
	}
	.input-label-text {
	}
	.highlight-left {
		border-radius: 5px 0 0 5px;
	}
	.highlight-right {
		border-radius: 0 5px 5px 0;
	}
	.mortgage-amount-input {
		width: 100%;
		border-radius: 0 5px 5px 0;
	}
	.input-field {
		border-radius: 0px;
	}
	.input-columns {
		flex-direction: column;
		gap: 30px;
	}
	.input-row {
		border-radius: 5px 0 0 5px;
	}
	.text-input-div {
		border-radius: 5px;
	}
	.row-left {
		border-radius: 5px;
	}
	.input-highlight {
		padding: 10px;
	}
	.radio-column {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
	.radio-row {
		display: flex;
		gap: 10px;
		padding: 10px;
		border: 1px solid var(--Slate-300);
		border-radius: 5px;
		cursor: pointer;
	}
	.radio-row:hover {
		border: 1px solid var(--Lime);
	}
	/* .radio.label {
} */

	.calculate-button {
		justify-content: center;
		margin: -10px 0 0 0;
		width: 100%;
	}
	.right-column {
		flex: 1;
		border-radius: 0;
	}
	.results-default-column {
		gap: 15px;
	}
	.illustration-image {
		width: 55%;
	}
	.results-dynamic-column {
		display: flex;
		flex-direction: column;
		gap: 20px;
		display: none;
	}
}
