* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--Lime: hsl(61, 70%, 52%);
	--Red: hsl(4, 69%, 50%);
	--White: hsl(0, 0%, 100%);
	--Slate-100: hsl(202, 86%, 94%);
	--Slate-300: hsl(203, 41%, 72%);
	--Slate-500: hsl(200, 26%, 54%);
	--Slate-700: hsl(200, 24%, 40%);
	--Slate-900: hsl(202, 55%, 16%);
}
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: var(--Slate-100);
}
.main-comtainer {
	margin: auto 0;
	display: flex;
	border-radius: 15px;
}
.left-column {
	flex: 1;
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: var(--White);
	border-radius: 15px 0 0 15px;
}
.heading-row {
	display: flex;
	justify-content: space-between;
}
.input-row-full {
}
.input-label {
}
.amount-input-row {
}
.input-text-highlight {
}
.input-columns {
	display: flex;
	gap: 15px;
}
.mortgage-input-row {
	display: flex;
}
.input-text-highlight {
}
.mortgage-input-row {
}
.input-text-highlight {
}
.radio-column {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.right-column {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	background-color: var(--Slate-900);
	border-radius: 0 15px 15px 0;
}
.results-default-column {
	text-align: center;
}
.results-heading {
}
.results-description {
}
.results-dynamic-column {
	display: none;
}
.monthly-repayments {
}
.total-repayments {
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
